In [2]:
for num in range (0,20):
    print (num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for num in range (10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [10]:
list = [10,20,14,55,43,87,76]
print (list)
print ("Number of item in the List2:")
print (len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [13]:
my_string = "Artificial Intelligence"
for char in my_string:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
print ("Your Name: Sankar")
print ("Your age: 45")
print ("Your profession: Data Engineer")

Your Name: Sankar
Your age: 45
Your profession: Data Engineer

In [16]:
tub = (1, 'Welcome',2,'Hope')
print (tub)

(1, 'Welcome', 2, 'Hope')

In [18]:
tub1 = (0,1,2,3)
tub2 = ('python','HOPE')
tub3 = (tub1,tub2)
print (tub3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [20]:
list = [20,10,16,19,25,1,276,188]
for i in list:
    if(i%2==1):
        print(i," is Odd")

19  is Odd
25  is Odd
1  is Odd

In [22]:
list = [20,10,16,19,25,1,276,188]
for i in list:
    if(i%2==0):
        print(i," is Even")

20  is Even
10  is Even
16  is Even
276  is Even
188  is Even